*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}



#btn{
    font-size: medium;
    border-radius: 10px ;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
    margin-top: 2rem;
    

}

.header{
    background-color: rgb(5, 5, 5);
}

#img{
  max-width: 230px;
  max-height: 600px;
  border-radius: 1rem;
}

.custom-container {
    width: 900px; /* Adjust width as needed */
  margin: 0 auto; /* Center horizontally */
  padding: 20px;
  
  }
      
  
  .container {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 4rem;
   
  }

  #logo{
    width: 4rem;
    height: 3.5rem;
  }
  #logo1{
    width: 2.8rem;
    height: 3.5rem;
  }
  #logo2{
    width: 8rem;
    height: 3.5rem;
  }
  #logo3{
    width: 2.8rem;
    height: 4rem;
  }

  .Img{
    width: 100%;
  }

  .projects{
    border: 2px solid rgb(21, 68, 39);
    padding: 1rem;
    border-radius: 0.5rem;

  }

  
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}  

 
label{
  color: #198754;
  gap: 5rem;
  padding: 1px;
  margin-left: 10px;
  margin-right: 3rem;
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
  color: white;
  background-color: #727b77;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  gap: 3.5rem;
}

.getintouch{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  gap:1rem;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#send{
  font-size: 2rem;

}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-top: 100px;
  
}

form >.container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container4{
 
  margin-top: 20px;
  margin-bottom: 60px;
  
}


section >.container3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 300px;
  background: #110f0f;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 20px;
 
}

footer{
 margin-top: 300px;
 background-color: #252525;
 
 
}

#github{
width: 3rem;
height: 1;
}
#linkedin{
  width: 3rem;
  height: 1;
}
#gmail{
  width: 3rem;
  height: 1;
}
#insta{
  width: 3rem;
  height: 1;
}

#earth{
  width: 3rem;
  height: 1;
}


footer >.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 2.5rem;
 
 
}
#cnt{
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(10, 131, 86);
  
}


footer >.container01{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin-left:30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 20 ;

}

footer >.container001{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.footer-text{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

#tnkz{
  color: rgb(212, 234, 224);
  font-size: 1.5rem;
  font-weight: 700;
  
}
#two{
  font-weight: 500;
  color: rgb(67, 87, 78);
}
